@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/transcity/Transcity\ DEMO.otf") format("truetype");
    
}

body {
    background-color: #4f7942;
    font-family: "MyCustomFont", sans-serif; 
    font-size: 1.5em;
}

